## Student preformance prediction

### Importing necessary libraries

In [16]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

### Loading the Dataset

In [17]:
df = pd.read_csv("student_data.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Removing Unnecessary Libraries

In [18]:
df = df.drop(["address","famsize","Pstatus","school","sex","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic"], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         395 non-null    int64
 1   Medu        395 non-null    int64
 2   Fedu        395 non-null    int64
 3   Mjob        395 non-null    object
 4   Fjob        395 non-null    object
 5   reason      395 non-null    object
 6   guardian    395 non-null    object
 7   traveltime  395 non-null    int64
 8   studytime   395 non-null    int64
 9   failures    395 non-null    int64
 10  famrel      395 non-null    int64
 11  freetime    395 non-null    int64
 12  goout       395 non-null    int64
 13  Dalc        395 non-null    int64
 14  Walc        395 non-null    int64
 15  health      395 non-null    int64
 16  absences    395 non-null    int64
 17  G1          395 non-null    int64
 18  G2          395 non-null    int64
 19  G3          395 non-null    int64
dtypes: int64(16), object(4)
memory usage: 61.8+ KB

### Changing (Mjob,Fjob,reason,gurdian) to numeric number then droping them

In [19]:
ohe   = OneHotEncoder(handle_unknown='ignore', sparse_output=False).set_output(transform='pandas')
data1 = ohe.fit_transform((df[['Mjob']]))
data2 = ohe.fit_transform((df[['Fjob']]))
data3 = ohe.fit_transform((df[['reason']]))
data4 = ohe.fit_transform((df[['guardian']]))


df = df.sort_values(by=["Mjob"],ascending=1)
df = pd.concat([df, data1], axis=1 ).drop(columns=['Mjob'])
df = pd.concat([df, data2], axis=1 ).drop(columns=['Fjob'])
df = pd.concat([df, data3], axis=1 ).drop(columns=['reason'])
df = pd.concat([df, data4], axis=1 ).drop(columns=['guardian'])
df

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,18,4,4,2,2,0,4,3,4,1,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
136,17,3,4,3,2,0,5,4,5,2,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
309,19,1,1,1,2,1,4,4,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
311,19,2,1,3,2,0,3,4,1,1,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
314,19,1,1,1,3,2,4,1,2,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,18,4,3,2,1,0,4,2,3,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
277,18,4,4,2,1,0,3,2,4,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
89,16,4,4,1,2,0,4,1,3,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
41,15,4,4,1,1,0,5,4,3,2,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
197,16,3,3,3,1,0,3,3,4,3,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

### Preparing for AI model

In [20]:
X = df.drop(["price"],axis=1)
Y = df["price"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=22)

KeyError: "['price'] not found in axis"

### The AI Model